html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-image: url("../img/treesBack3.jpg");
  background-size: cover;
  height: 1500px; }

p {
  margin: 0; }

#swatch1a {
  background-color: #f8b614;
  margin-bottom: 15px;
  text-align: center; }

#swatch1b {
  background-color: #395887;
  margin-bottom: 15px;
  text-align: center; }

#swatch1c {
  background-color: #6A7D46;
  margin-bottom: 15px;
  text-align: center; }

#swatch2a {
  background-color: #002649;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

#swatch2b {
  background-color: #1E406D;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

#swatch2c {
  background-color: #313E4B;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

#swatch3a {
  background-color: #D5DE59;
  margin-bottom: 15px;
  text-align: center; }

#swatch3b {
  background-color: #47575D;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

#swatch3c {
  background-color: #6B7F1A;
  margin-bottom: 15px;
  text-align: center; }

#swatch4a {
  background-color: #F4F3ED;
  margin-bottom: 15px;
  text-align: center; }

#swatch4b {
  background-color: #7A8586;
  margin-bottom: 15px;
  text-align: center; }

#swatch4c {
  background-color: #3D4447;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

#swatch5a {
  background-color: #8C9B28;
  margin-bottom: 15px;
  text-align: center; }

#swatch5b {
  background-color: #0083C2;
  margin-bottom: 15px;
  text-align: center; }

#swatch5c {
  background-color: #766F6C;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

#swatch6a {
  background-color: #4D6B84;
  margin-bottom: 15px;
  text-align: center; }

#swatch6b {
  background-color: #253C51;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

#swatch6c {
  background-color: #172736;
  margin-bottom: 15px;
  text-align: center;
  color: silver; }

.main {
  width: 90vw;
  max-width: 970px;
  display: block;
  margin: 6% auto; }

.card {
  margin-bottom: 5%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 450px;
  width: 300px;
  border-radius: 10px; }
  .card:last-child {
    margin-right: 0; }

.card-header {
  padding: 0 5%;
  text-align: center;
  height: 15%; }

.card-copy {
  padding: 0 5%;
  height: 50%; }

.card-image img {
  width: 100%;
  padding-top: 8%; }

.card-image {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto; }

.transBack1 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px; }

.transBack1::after {
  content: "";
  background: url("../img/CLMBIARiverG.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px; }

.transBack2 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px; }

.transBack2::after {
  content: "";
  background: url("../img/MalheurNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px; }

.transBack3 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px; }

.transBack3::after {
  content: "";
  background: url("../img/QuinaltRF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px; }

.transBack4 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px; }

.transBack4::after {
  content: "";
  background: url("../img/OlympicNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px; }

.transBack5 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px; }

.transBack5::after {
  content: "";
  background: url("../img/WillametteNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px; }

.transBack6 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px; }

.transBack6::after {
  content: "";
  background: url("../img/MtHoodNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px; }

@media screen and (max-width: 1076px) {
  .card {
    margin-left: 8.5298%; } }
@media screen and (max-width: 787px) {
  .main {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .main::after {
      clear: both;
      content: "";
      display: block; }

  .card {
    margin-left: 0%; } }

/*# sourceMappingURL=application.css.map */
