@import "bourbon/bourbon";
@import "neat/neat";
@import "base/index";
@import "layout/index";
@import "components/index";


body {
  background-color: silver;
}

.main {
  // width: 1800px;
  @include outer-container;
}


.card {
  width: 40%;
  // background-color: silver;
  margin-bottom: 5%;
  @include span-columns(2 of 6);
}
.card-header {
  padding: 5%;
  text-align: center;
}

.card-copy {
  padding: 5%;
}


.card-image img {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-top: 5%;
}

.transBack {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.transBack::after {
  content: "";
  background: url("../img/treesBack.jpg");
  opacity: .4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;
}
