#swatch1a {
  @include swatch($swatch1a);

}

#swatch1b {
  @include swatch($swatch1b);
}

#swatch1c {
  @include swatch($swatch1c);
}

#swatch2a {
  @include swatch($swatch2a, null, null, $swatch-text-light);
}

#swatch2b {
  @include swatch($swatch2b, null, null, $swatch-text-light);
}

#swatch2c {
  @include swatch($swatch2c, null, null, $swatch-text-light);
}

#swatch3a {
  @include swatch($swatch3a);
}

#swatch3b {
  @include swatch($swatch3b, null, null, $swatch-text-light);
}

#swatch3c {
@include swatch($swatch3c);

}

#swatch4a {
  @include swatch($swatch4a);
}

#swatch4b {
@include swatch($swatch4b);

}

#swatch4c {
  @include swatch($swatch4c, null, null, $swatch-text-light);

}

#swatch5a {
@include swatch($swatch5a);
}

#swatch5b {
  @include swatch($swatch5b);

}

#swatch5c {
  @include swatch($swatch5c, null, null, $swatch-text-light);

}

#swatch6a {
  @include swatch($swatch6a);
}

#swatch6b {
  @include swatch($swatch6b, null, null, $swatch-text-light);

}

#swatch6c {
  @include swatch($swatch6c, null, null, $swatch-text-light);

}



.main {
  width: 90vw;
  max-width: 970px;
  display: block;
  margin: 6% auto;
}


.card {
  margin-bottom: 5%;
  @include span-columns(4 of 12);
  height: 450px;
  width: 300px;
  border-radius: 10px;


}



.card-header {
  padding: 0 5%;
  text-align: center;
  height: 15%;
}

.card-copy {
  padding: 0 5%;
  height: 50%;
}


.card-image img {
  width: 100%;
  padding-top: 8%;
}

.card-image {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.transBack1 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;

}

.transBack1::after {
  content: "";
  background: url("../img/CLMBIARiverG.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.transBack2{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;

}

.transBack2::after {
  content: "";
  background: url("../img/MalheurNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.transBack3 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;

}

.transBack3::after {
  content: "";
  background: url("../img/QuinaltRF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.transBack4{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;

}

.transBack4::after {
  content: "";
  background: url("../img/OlympicNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.transBack5 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;

}

.transBack5::after {
  content: "";
  background: url("../img/WillametteNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.transBack6 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;

}

.transBack6::after {
  content: "";
  background: url("../img/MtHoodNF.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
