#swatch1a {
  @include swatch($swatch1a);

}

#swatch1b {
  @include swatch($swatch1b);
}

#swatch1c {
  @include swatch($swatch1c);
}

#swatch2a {
  @include swatch($swatch2a, null, null, $swatch-text-light);
}

#swatch2b {
  @include swatch($swatch2b, null, null, $swatch-text-light);
}

#swatch2c {
  @include swatch($swatch2c, null, null, $swatch-text-light);
}

#swatch3a {
  @include swatch($swatch3a);
}

#swatch3b {
  @include swatch($swatch3b, null, null, $swatch-text-light);
}

#swatch3c {
@include swatch($swatch3c);

}

#swatch4a {
  @include swatch($swatch4a);
}

#swatch4b {
@include swatch($swatch4b);

}

#swatch4c {
  @include swatch($swatch4c, null, null, $swatch-text-light);

}

#swatch5a {
@include swatch($swatch5a);
}

#swatch5b {
  @include swatch($swatch5b);

}

#swatch5c {
  @include swatch($swatch5c, null, null, $swatch-text-light);

}

#swatch6a {
  @include swatch($swatch6a);
}

#swatch6b {
  @include swatch($swatch6b, null, null, $swatch-text-light);

}

#swatch6c {
  @include swatch($swatch6c, null, null, $swatch-text-light);

}

.main {
  width: 90vw;
  max-width: 970px;
  display: block;
  margin: 6% auto;
    @media screen and #{$small-break} {
      @include shift(0);
  }
}


.card {
  margin-bottom: 5%;
  @include span-columns(4 of 12);
  height: 450px;
  width: 300px;
  border-radius: 10px;
    @media screen and #{$medium-break} {
      @include shift(1);
    }
}

.card-copy {
  padding: 0 5%;
  height: 50%;
}

.card-image img {
  width: 100%;
  padding-top: 8%;
}

.card-image {
  width: 90%;
  height: auto;
  @extend %center;
}

.transBack1 {
  @extend %trans-back;
}

.transBack1::after {
  @extend %trans-back-after;
}

.transBack2{
  @extend %trans-back;

}

.transBack2::after {
    @include trans-back-after($image2);
}

.transBack3 {
  @extend %trans-back;

}

.transBack3::after {
  @include trans-back-after($image3);
}

.transBack4{
  @extend %trans-back;

}

.transBack4::after {
  @include trans-back-after($image4);
}

.transBack5 {
  @extend %trans-back;

}

.transBack5::after {
    @include trans-back-after($image5);
}

.transBack6 {
@extend %trans-back;

}

.transBack6::after {
      @include trans-back-after($image6);
}
