%center {
  display: block;
  margin: 0 auto;
}

%trans-back {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;
}

%trans-back-after {
  content: "";
  background: url("../img/CLMBIARiverG.jpg");
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
