*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }


body {
  background-image: url("../img/treesBack3.jpg");
  background-size: cover;
  height: 1500px;
}

p {

  margin: 0;
}
