
@mixin swatch($color, $margin-bottom: null, $text-align: null, $color-text: null) {
  background-color:$color;
  margin-bottom: 15px;
  text-align: center;
  color: $color-text;
}

@mixin trans-back-after($image) {
  content: "";
  background:$image;
  opacity: .4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

//
