// Descriptive Color Names

$swatch1a: #f8b614;
$swatch1b: #395887;
$swatch1c: #6A7D46;
$swatch2a: #002649;
$swatch2b: #1E406D;
$swatch2c: #313E4B;
$swatch3a: #D5DE59;
$swatch3b: #47575D;
$swatch3c: #6B7F1A;
$swatch4a: #F4F3ED;
$swatch4b: #7A8586;
$swatch4c: #3D4447;
$swatch5a: #8C9B28;
$swatch5b: #0083C2;
$swatch5c: #766F6C;
$swatch6a: #4D6B84;
$swatch6b: #253C51;
$swatch6c: #172736;

$swatch-text-dark: black;
$swatch-text-light: silver;

// Functional Color Names



//transparent background images
$image1: url("../img/CLMBIARiverG.jpg");
$image2: url("../img/MalheurNF.jpg");
$image3: url("../img/QuinaltRF.jpg");
$image4: url("../img/OlympicNF.jpg");
$image5: url("../img/WillametteNF.jpg");
$image6: url("../img/MtHoodNF.jpg");
